@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@{
    ViewBag.Title = "Manage_SubCategory";
    Layout = "~/Views/Shared/adminLayout.cshtml";

    SqlConnection con = new SqlConnection(ConfigurationManager.ConnectionStrings["myCon"] + "");
}



<div class="card">
    <div class="card-body p-4">
        <div class="d-lg-flex align-items-center mb-4 gap-3">
            <div class="position-relative">
                <a href="javascript:;" class="btn btn-secondary radius-30 mt-2 mt-lg-0">Manage Sub Category</a>
            </div>
            
        </div>
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success">
                <strong>Success : </strong> @TempData["Message"]
            </div>
        }
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-danger">
                <strong>Error : </strong>@TempData["Message"]
            </div>
        }
        <hr />
        <div class="form-body mt-4">
            <div class="row">
                <div class="col-lg-12">
                    <form method="post" action="~/SubCategory/Manage_SubCategory">
                        @Html.AntiForgeryToken()

                        <div class="border border-3 p-4 rounded">
                            <div class="mb-3">
                                <label for="inputProductTitle" class="form-label">Category </label>
                                <select name="catid" class="form-control">
                                    <option value="">Select Category</option>
                                    @{



                                        if (con.State == ConnectionState.Closed)
                                        {
                                            con.Open();
                                        }
                                        string query = "SELECT * FROM tblCategory where isDel='false'";
                                        SqlDataAdapter sda = new SqlDataAdapter(query, con);
                                        DataTable dt = new DataTable();

                                        sda.Fill(dt);
                                        con.Close();

                                        foreach (DataRow dr in dt.Rows)
                                        {

                                            <option value="@dr["catId"]">
                                                @dr["catName"]
                                            </option>

                                        }
                                    }
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="inputProductTitle" class="form-label">SubCategory </label>
                                <input type="text" class="form-control" id="inputProductTitle" placeholder="Enter Category Title" name="subcategory">
                            </div>
                            <div class="col-12">
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary">Save Category</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

            </div><!--end row-->
        </div>
    </div>
</div>

